.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 400px;
    height: 125px;
    transition: all 0.2s;
    resize: none;
  }
  
  .textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
  
  .textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #bb86FC;
    border-width: 3px;
  }
  



  .button-ai {
    align-items: center;
    background-color: #bb86FC;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2%;
    margin-bottom: 20%;
  }
  
  .button-ai:active {
    outline: 0;
  }
  
  .button-ai:hover {
    outline: 0;
  }
  
  .button-ai span {
    transition: all 200ms;
  }
  
  .button-ai:hover span {
    transform: scale(.9);
    opacity: .75;
  }
  
  @media screen and (max-width: 991px) {
    .button-ai {
      font-size: 15px;
      height: 50px;
    }
  
    .button-ai span {
      line-height: 50px;
    }
  }




/* body.active-modal {
  overflow-y: hidden;
} */

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px; 
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.text-opai{
  font-size: 2cm;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 5%;
  transform: skewY(0);
  color: white;
  text-shadow:
      #bb86FC 4px 4px,
      #3700b3 8px 8px;
 }
  
